<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.jmdesenvolvimento.appcomercial">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activitys.entidades.pessoas.ActivityClientes" />
        <activity android:name=".view.activitys.entidades.pessoas.ActivityFornecedores" />
        <activity
            android:name=".view.activitys.Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.activitys.entidades.pessoas.CadastroPessoasActivity" />
        <activity
            android:name=".view.activitys.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activitys.entidades.estoque.EstoqueActivity"
            android:label="@string/title_activity_estoque"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.activitys.entidades.estoque.CadastroProdutoActivity" />
        <activity android:name=".view.activitys.entidades.contas.ContasPagarActivity"></activity>
    </application>

</manifest>